html {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #989b96, #4d7e95);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

body {
    width: 99%;
    height: 100vh;
    color: #fff;

    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer__img-github {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer__item {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.footer__img-rs {
    width: 100px;
    height: 40px;
    cursor: pointer;
}
