* {
    margin: 0;
    padding: 0;
    font-size: 14px;

}

html {
    width: 100%;
    height: 100%;
    background-image: url('../image/background-body.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 300px;
    height: 300px;
}

.header__nav {
    width: 500px;
    max-width: 100%;
}

.header__nav-list {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    list-style-type: none;
}

.header__nav-item {
    width: 50px;
    height: 20px;
    background: border-box rgb(255 239 93 / 62%);
    border-radius: 999px;
    transition: width 1s;
    padding: 3px 5px;
    text-align: center;
}

.header__nav-item:hover {
    width: 70px;
    background:  rgb(111, 195, 195);
}

.header__nav-link {
    text-decoration: none;
    color: rgb(4, 4, 81);
    margin: 0 5%;
}

.header__nav-link:hover {
    color: white; 
}

.main, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.main__button-start {
    font-size: 30px;
    font-weight: 500;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 999px;
    color: black;
    background: #e5d8e7ab;
    cursor: pointer;
}

.main__button-start:hover {
    transform: scale(1.2);
    transition: linear .3s;
    background: rgba(28, 78, 129, 0.823);
    color: white;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #5f854cb5;
  }

.footer__list {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.footer__img-github {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer__item {
    font-size: 26px;
    font-weight: 600;
    color: black;
}

.footer__img-rs {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

@media (max-width: 490px)  {
    .logo {
        width: 200px;
        height: 200px;
    }

    .header__nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .header__nav-item {
        margin-top: 5px;
    }

    .footer__img-github {
        width: 20px;
        height: 20px;
    }
    
    .footer__item {
        font-size: 18px;
    }
    
    .footer__img-rs {
        width: 80px;
        height: 40px;
    }
}